<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.anji.plus.modules.user.dao.GaeaUserRoleOrgMapper">

    <resultMap type="com.github.anji.plus.modules.user.dao.entity.GaeaUserRoleOrg" id="GaeaUserRoleOrgMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="roleCode" column="role_code" jdbcType="VARCHAR"/>
        <result property="orgCode" column="org_code" jdbcType="VARCHAR"/>
    </resultMap>



    <sql id="Base_Column_List">
        id, username, role_code, org_code
    </sql>

    <select id="getOrgInfoByUsername" resultType="com.github.anji.plus.modules.org.dao.entity.GaeaOrg">
        SELECT
            org.id,
            org.org_code,
            org.org_name
        FROM
            gaea_org org
        INNER JOIN gaea_user_role_org uorg ON org.org_code = uorg.org_code
        INNER JOIN gaea_user u ON u.username = uorg.username
        WHERE
            org.enabled = 1
        AND org.delete_flag = 0
        AND u.username = #{username,jdbcType=VARCHAR}
    </select>

    <select id="getRoleCodeByUser" resultType="java.lang.String">
        SELECT
            uorg.role_code
        FROM
            gaea_user_role_org uorg
        INNER JOIN gaea_role gr ON uorg.role_code = gr.role_code
        WHERE
            uorg.username = #{username,jdbcType=VARCHAR}
        AND uorg.org_code = #{orgCode,jdbcType=VARCHAR}
        AND gr.enabled = 1
    </select>

</mapper>