<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anji.plus.gaea.auth.modules.menuextension.dao.GaeaMenuExtensionMapper">

    <resultMap type="com.anji.plus.gaea.auth.modules.menuextension.entity.GaeaMenuExtension" id="GaeaMenuExtensionMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="tableCode" column="table_code" jdbcType="VARCHAR"/>
        <result property="menuCode" column="menu_code" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="sortable" column="sortable" jdbcType="INTEGER"/>
        <result property="sortNo" column="sort_no" jdbcType="INTEGER"/>
        <result property="visible" column="visible" jdbcType="INTEGER"/>
        <result property="width" column="width" jdbcType="INTEGER"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="isDisabled" column="is_disabled" jdbcType="INTEGER"/>
        <result property="sortCode" column="sort_code" jdbcType="VARCHAR"/>
        <result property="sortOrder" column="sort_order" jdbcType="INTEGER"/>
        <result property="groupName" column="group_name" jdbcType="VARCHAR"/>
        <result property="version" column="version" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, table_code, menu_code, name, code, sortable, sort_no, visible, width, create_by, create_time, update_by,
        update_time, is_disabled, sort_code, sort_order, group_name, version
    </sql>


</mapper>
