package ${package.Mapper};
##实体名，首字母大写
#set($EntityName = ${entity.replace('PO','')})
##实体名，首字母小写
#set($entityName = "${EntityName.substring(0,1).toLowerCase()}${EntityName.substring(1)}")
##VO的包路径
#set($packageVOName = ${package.Entity.replace('.po','.vo')})

import ${package.Entity}.${entity};
import ${packageVOName}.${EntityName}VO;
import ${superMapperClassPackage};
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import org.apache.ibatis.annotations.Param;

/**
 * <p>
 * $!{table.comment} Mapper 接口
 * </p>
 *
 * @author anji gaea teams
 * @since ${date}
 */
#if(${kotlin})
interface ${table.mapperName} : ${superMapperClass}<${entity}>
#else
public interface ${table.mapperName} extends ${superMapperClass}<${entity}> {

    /** XML 自定义分页
     * @param page
     * @param ${entityName}VO
     * @return
     */
    IPage<${EntityName}VO> queryByPage(Page<?> page, @Param("${entityName}VO")${EntityName}VO ${entityName}VO);
}
#end
