##实体名，首字母大写
#set($EntityName = ${entity.replace('PO','')})
##实体名，首字母小写
#set($entityName = "${EntityName.substring(0,1).toLowerCase()}${EntityName.substring(1)}")
##VO的包路径
#set($packageVOName = ${package.Entity.replace('.po','.vo')})
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${package.Mapper}.${table.mapperName}">

#if(${enableCache})
    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

#end
#if(${baseResultMap})
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="${package.Entity}.${entity}">
#foreach($field in ${table.fields})
#if(${field.keyFlag})##生成主键排在第一位
        <id column="${field.name}" property="${field.propertyName}" />
#end
#end
#foreach($field in ${table.commonFields})##生成公共字段
        <result column="${field.name}" property="${field.propertyName}" />
#end
#foreach($field in ${table.fields})
#if(!${field.keyFlag})##生成普通字段
        <result column="${field.name}" property="${field.propertyName}" />
#end
#end
    </resultMap>

    <!-- 自定义查询映射结果 -->
    <resultMap id="ResultMapWithVO" type="${packageVOName}.${EntityName}VO" extends="BaseResultMap">
    </resultMap>
#end
#if(${baseColumnList})

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
#foreach($field in ${table.commonFields})
        ${field.columnName},
#end
        ${table.fieldNames}
    </sql>
#end

    <!-- 自定义分页查询 -->
    <select id="queryByPage" resultMap="ResultMapWithVO" parameterType="${packageVOName}.${EntityName}VO">
        select
        <include refid="Base_Column_List" />
        from ${table.name}
        <where >
            <!-- 模糊查询参考 columnName LIKE CONCAT('%',#{keyword,jdbcType=VARCHAR},'%') -->
            <!-- 子查询参考 columnName IN <foreach collection="list" item="item" index="index" separator="," open="(" close=")">#{item}</foreach> -->
#foreach($field in ${table.fields})
            <if test="${entityName}VO.${field.propertyName} != null" >
                and ${field.name} = #{${entityName}VO.${field.propertyName}}
            </if>
#end
        </where>
    </select>
</mapper>
