<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anji.mirror.auth.mapper.ExportMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.anji.mirror.auth.domain.po.ExportPO">
        <id column="export_id" property="exportId" />
        <result column="file_id" property="fileId" />
        <result column="file_title" property="fileTitle" />
        <result column="result_start_time" property="resultStartTime" />
        <result column="result_end_time" property="resultEndTime" />
        <result column="result_size" property="resultSize" />
        <result column="file_create_time" property="fileCreateTime" />
        <result column="file_finish_time" property="fileFinishTime" />
        <result column="file_status" property="fileStatus" />
        <result column="creater_userid" property="createrUserid" />
        <result column="creater_username" property="createrUsername" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 自定义查询映射结果 -->
    <resultMap id="ResultMapWithVO" type="com.anji.mirror.common.model.ExportVO" extends="BaseResultMap">
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        export_id, file_id, file_title, result_start_time, result_end_time, result_size, file_create_time, file_finish_time, file_status, creater_userid, creater_username, remark
    </sql>

    <!-- 自定义分页查询 -->
    <select id="queryByPage" resultMap="ResultMapWithVO" parameterType="com.anji.mirror.common.model.ExportVO">
        select
        <include refid="Base_Column_List" />
        from t_export
        <where >
            <!-- 模糊查询参考 columnName LIKE CONCAT('%',#{keyword,jdbcType=VARCHAR},'%') -->
            <!-- 子查询参考 columnName IN <foreach collection="list" item="item" index="index" separator="," open="(" close=")">#{item}</foreach> -->
            <if test="exportVO.exportId != null" >
                and export_id = #{exportVO.exportId}
            </if>
            <if test="exportVO.fileId != null" >
                and file_id = #{exportVO.fileId}
            </if>
            <if test="exportVO.fileTitle != null and exportVO.fileTitle != ''" >
                and file_title LIKE CONCAT('%',#{exportVO.fileTitle},'%')
            </if>
            <if test="exportVO.resultStartTime != null" >
                and result_start_time = #{exportVO.resultStartTime}
            </if>
            <if test="exportVO.resultEndTime != null" >
                and result_end_time = #{exportVO.resultEndTime}
            </if>
            <if test="exportVO.resultSize != null" >
                and result_size = #{exportVO.resultSize}
            </if>
            <if test="exportVO.fileCreateTime != null" >
                and file_create_time = #{exportVO.fileCreateTime}
            </if>
            <if test="exportVO.fileFinishTime != null" >
                and file_finish_time = #{exportVO.fileFinishTime}
            </if>
            <if test="exportVO.fileStatus != null" >
                and file_status = #{exportVO.fileStatus}
            </if>
            <if test="exportVO.createrUserid != null" >
                and creater_userid = #{exportVO.createrUserid}
            </if>
            <if test="exportVO.createrUsername != null" >
                and creater_username = #{exportVO.createrUsername}
            </if>
            <if test="exportVO.remark != null" >
                and remark = #{exportVO.remark}
            </if>
        </where>
        order by file_finish_time desc,file_create_time desc
    </select>
</mapper>
