<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anji.mirror.auth.mapper.HelpMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.anji.mirror.auth.domain.po.HelpPO">
        <id column="help_id" property="helpId" />
        <result column="help_category" property="helpCategory" />
        <result column="help_title" property="helpTitle" />
        <result column="help_content" property="helpContent" />
        <result column="enable_flag" property="enableFlag" />
        <result column="sort" property="sort" />
        <result column="remark" property="remark" />
        <result column="created_by" property="createdBy" />
        <result column="created_time" property="createdTime" />
        <result column="updated_by" property="updatedBy" />
        <result column="updated_time" property="updatedTime" />
    </resultMap>

    <!-- 自定义查询映射结果 -->
    <resultMap id="ResultMapWithVO" type="com.anji.mirror.auth.domain.vo.HelpVO" extends="BaseResultMap">
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        help_id, help_category, help_title, help_content, enable_flag, sort, remark, created_by, created_time, updated_by, updated_time
    </sql>

    <!-- 自定义分页查询 -->
    <select id="queryByPage" resultMap="ResultMapWithVO" parameterType="com.anji.mirror.auth.domain.vo.HelpVO">
        select
        h.help_id, h.help_category, h.help_title, h.help_content, h.enable_flag, h.sort, h.remark, h.created_by, h.created_time, h.updated_by, h.updated_time
        from t_help h,t_dict t
        <where >
            h.help_category = t.item_name
            AND t.dict_name = 'HELP_CATEGORY'
            AND t.enable_flag =1
            <!-- 模糊查询参考 columnName LIKE CONCAT('%',#{keyword,jdbcType=VARCHAR},'%') -->
            <!-- 子查询参考 columnName IN <foreach collection="list" item="item" index="index" separator="," open="(" close=")">#{item}</foreach> -->
            <if test="helpVO.helpId != null" >
                and h.help_id = #{helpVO.helpId}
            </if>
            <if test="helpVO.helpCategory != null and helpVO.helpCategory != ''" >
                and h.help_category = #{helpVO.helpCategory}
            </if>
            <if test="helpVO.helpTitle != null  and helpVO.helpTitle != ''" >
                and h.help_title LIKE CONCAT('%',#{helpVO.helpTitle,jdbcType=VARCHAR},'%')
            </if>
            <if test="helpVO.helpContent != null  and helpVO.helpContent != ''" >
                and h.help_content = #{helpVO.helpContent}
            </if>
            <if test="helpVO.enableFlag != null" >
                and h.enable_flag = #{helpVO.enableFlag}
            </if>
            <if test="helpVO.sort != null" >
                and h.sort = #{helpVO.sort}
            </if>
            <if test="helpVO.remark != null and helpVO.remark != ''" >
                and h.remark = #{helpVO.remark}
            </if>
            <if test="helpVO.createdBy != null  and helpVO.createdBy != ''" >
                and h.created_by = #{helpVO.createdBy}
            </if>
            <if test="helpVO.createdTime != null" >
                and h.created_time = #{helpVO.createdTime}
            </if>
            <if test="helpVO.updatedBy != null  and helpVO.updatedBy != ''" >
                and h.updated_by = #{helpVO.updatedBy}
            </if>
            <if test="helpVO.updatedTime != null" >
                and h.updated_time = #{helpVO.updatedTime}
            </if>
        </where>
        order by h.updated_time desc
    </select>

    <select id="queryByCondition" resultMap="ResultMapWithVO" parameterType="com.anji.mirror.auth.domain.vo.HelpVO">
        select
        <include refid="Base_Column_List" />
        from t_help
        <where >
            <!-- 模糊查询参考 columnName LIKE CONCAT('%',#{keyword,jdbcType=VARCHAR},'%') -->
            <!-- 子查询参考 columnName IN <foreach collection="list" item="item" index="index" separator="," open="(" close=")">#{item}</foreach> -->
            <if test="helpVO.helpId != null" >
                and help_id = #{helpVO.helpId}
            </if>
            <if test="helpVO.helpCategory != null and helpVO.helpCategory != ''" >
                and help_category = #{helpVO.helpCategory}
            </if>
            <if test="helpVO.helpTitle != null and helpVO.helpTitle != ''" >
                and help_title = #{helpVO.helpTitle}
            </if>
            <if test="helpVO.helpContent != null and helpVO.helpContent != ''" >
                and help_content = #{helpVO.helpContent}
            </if>
            <if test="helpVO.enableFlag != null" >
                and enable_flag = #{helpVO.enableFlag}
            </if>
            <if test="helpVO.sort != null" >
                and sort = #{helpVO.sort}
            </if>
            <if test="helpVO.remark != null and helpVO.remark != ''" >
                and remark = #{helpVO.remark}
            </if>
            <if test="helpVO.createdBy != null and helpVO.createdBy != ''" >
                and created_by = #{helpVO.createdBy}
            </if>
            <if test="helpVO.createdTime != null" >
                and created_time = #{helpVO.createdTime}
            </if>
            <if test="helpVO.updatedBy != null and helpVO.updatedBy != ''" >
                and updated_by = #{helpVO.updatedBy}
            </if>
            <if test="helpVO.updatedTime != null" >
                and updated_time = #{helpVO.updatedTime}
            </if>
        </where>
        order by sort
    </select>


    <select id="searchKeyWord" resultMap="ResultMapWithVO" parameterType="com.anji.mirror.auth.domain.vo.HelpVO">
        select
        help_id, help_category, help_title, CONCAT(LEFT ( help_content, 280 ),"...") help_content, enable_flag, sort, remark, created_by, created_time, updated_by, updated_time
        from t_help
        where enable_flag=1
        <if test="serarchConditionVO.keyWord != null and serarchConditionVO.keyWord != ''" >
        and (help_title LIKE CONCAT('%',#{serarchConditionVO.keyWord,jdbcType=VARCHAR},'%')
        or help_content LIKE CONCAT('%',#{serarchConditionVO.keyWord,jdbcType=VARCHAR},'%'))
        </if>
        ORDER BY updated_time DESC
    </select>
</mapper>
