<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anji.mirror.auth.mapper.MenuActionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.anji.mirror.auth.domain.po.MenuActionPO">
        <id column="menu_action_id" property="menuActionId" />
        <result column="menu_id" property="menuId" />
        <result column="action_id" property="actionId" />
    </resultMap>

    <!-- 自定义查询映射结果 -->
    <resultMap id="ResultMapWithVO" type="com.anji.mirror.auth.domain.vo.MenuActionVO" extends="BaseResultMap">
        <result column="action_code" property="actionCode" />
        <result column="action_name" property="actionName" />
        <result column="menu_code" property="menuCode" />
        <result column="menu_name" property="menuName" />
        <result column="action_id" property="actionId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        menu_action_id, menu_id, action_id
    </sql>

    <!-- 自定义分页查询 -->
    <select id="queryByPage" resultMap="ResultMapWithVO" parameterType="com.anji.mirror.auth.domain.vo.MenuActionVO">
        select
        <include refid="Base_Column_List" />
        from t_menu_action
        <where >
            <!-- 模糊查询参考 columnName LIKE CONCAT('%',#{keyword,jdbcType=VARCHAR},'%') -->
            <!-- 子查询参考 columnName IN <foreach collection="list" item="item" index="index" separator="," open="(" close=")">#{item}</foreach> -->
            <if test="menuActionVO.menuActionId != null" >
                and menu_action_id = #{menuActionVO.menuActionId}
            </if>
            <if test="menuActionVO.menuId != null" >
                and menu_id = #{menuActionVO.menuId}
            </if>
            <if test="menuActionVO.actionId != null" >
                and action_id = #{menuActionVO.actionId}
            </if>
        </where>
    </select>


    <select id="queryAllMenuAction" resultMap="ResultMapWithVO">
        SELECT
            ma.menu_action_id,
            m.menu_code,
            m.menu_name,
            m.menu_id,
            m.parent_id,
            a.action_code,
            a.action_name,
            a.action_id
        FROM
            t_menu_action ma
            LEFT JOIN t_menu m ON ma.menu_id = m.menu_id
            LEFT JOIN t_action a ON ma.action_id = a.action_id
        WHERE
            m.enable_flag = 1
            AND m.delete_flag = 0
            AND a.enable_flag = 1
            AND a.delete_flag =0
    </select>
</mapper>
