<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anji.mirror.auth.mapper.UserRoleOrgMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.anji.mirror.auth.domain.po.UserRoleOrgPO">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="role_id" property="roleId" />
        <result column="org_id" property="orgId" />
    </resultMap>

    <!-- 自定义查询映射结果 -->
    <resultMap id="ResultMapWithVO" type="com.anji.mirror.auth.domain.vo.UserRoleOrgVO" extends="BaseResultMap">
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, role_id, org_id
    </sql>

    <!-- 自定义分页查询 -->
    <select id="queryByPage" resultMap="ResultMapWithVO" parameterType="com.anji.mirror.auth.domain.vo.UserRoleOrgVO">
        select
        <include refid="Base_Column_List" />
        from t_user_role_org
        <where >
            <!-- 模糊查询参考 columnName LIKE CONCAT('%',#{keyword,jdbcType=VARCHAR},'%') -->
            <!-- 子查询参考 columnName IN <foreach collection="list" item="item" index="index" separator="," open="(" close=")">#{item}</foreach> -->
            <if test="userRoleOrgVO.id != null" >
                and id = #{userRoleOrgVO.id}
            </if>
            <if test="userRoleOrgVO.userId != null and userRoleOrgVO.userId != ''" >
                and user_id = #{userRoleOrgVO.userId}
            </if>
            <if test="userRoleOrgVO.roleId != null and userRoleOrgVO.roleId != ''" >
                and role_id = #{userRoleOrgVO.roleId}
            </if>
            <if test="userRoleOrgVO.orgId != null and userRoleOrgVO.orgId != ''" >
                and org_id = #{userRoleOrgVO.orgId}
            </if>
        </where>
    </select>

    <select id="queryUserRoleOrgByRoleId" resultMap="ResultMapWithVO" parameterType="com.anji.mirror.auth.domain.vo.UserRoleOrgVO">
        SELECT
            a.id,
            b.org_id,
            b.org_name,
            c.role_id,
            c.role_name,
            d.user_id,
            d.real_name,
            d.login_name
        FROM
        t_user_role_org a
            LEFT JOIN t_org b ON a.org_id = b.org_id
            LEFT JOIN t_role c ON a.role_id = c.role_id
            LEFT JOIN t_user d ON a.user_id = d.user_id
        WHERE
            b.enable_flag = 1
            AND b.delete_flag = 0
            AND c.enable_flag = 1
            AND c.delete_flag = 0
            AND d.enable_flag = 1
            AND d.delete_flag = 0
        <if test="userRoleOrgVO.roleId != null and userRoleOrgVO.roleId != ''" >
            AND a.role_id = #{userRoleOrgVO.roleId}
        </if>
    </select>
</mapper>
