<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anjiplus.template.auth.modules.menuextension.dao.GaeaMenuUserExtensionMapper">

    <resultMap type="com.anjiplus.template.auth.modules.menuextension.entity.GaeaMenuUserExtension"
               id="GaeaMenuUserExtensionMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="tableCode" column="table_code" jdbcType="VARCHAR"/>
        <result property="menuCode" column="menu_code" jdbcType="VARCHAR"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="sortable" column="sortable" jdbcType="INTEGER"/>
        <result property="sortNo" column="sort_no" jdbcType="INTEGER"/>
        <result property="visible" column="visible" jdbcType="INTEGER"/>
        <result property="width" column="width" jdbcType="INTEGER"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="isDisabled" column="is_disabled" jdbcType="INTEGER"/>
        <result property="sortCode" column="sort_code" jdbcType="VARCHAR"/>
        <result property="sortOrder" column="sort_order" jdbcType="INTEGER"/>
        <result property="groupName" column="group_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, table_code, menu_code, username, name, code, sortable, sort_no, visible, width, create_by, create_time,
        update_by, update_time, is_disabled, sort_code, sort_order, group_name
    </sql>

    <select id="getByUser" resultType="com.anjiplus.template.auth.modules.menuextension.controller.dto.GaeaMenuUserExtensionListDTO">
        select  <include refid="Base_Column_List"></include>
        from gaea_menu_user_extension where  menu_code = #{menuCode} and username = #{userName} and table_code = #{tableCode}
        and IS_DISABLED = 0
        order by SORT_NO asc
    </select>

</mapper>
